<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBlog</title>
    <link rel="stylesheet" href="~/frontend/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/frontend/css/clean-blog.min.css" />
    <link rel="stylesheet" href="~/frontend/vendor/font-awesome/css/font-awesome.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <style>
        img{
            max-width:100%
        }
        pre{
            border:none;
            border-radius:0px;
        }
        p.author,
        p.createat{
            font-size:12px
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyBlog</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-area="Viewer" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Post" asp-action="Index">Post</a>
                    </li>
                    <li >
                        <a asp-area="Viewer" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <header class="intro-header" style="background-image: url('/frontend/img/@ViewData["HeaderImage"]')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>@ViewData["Title"]</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    @RenderBody()
                    <partial name="_Notification" />
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://github.com/sea9075">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">
                        &copy; 2024 - MyBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/frontend/vendor/jquery/jquery.min.js"></script>
    <script src="~/frontend/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/frontend/js/jqBootstrapValidation.js"></script>
    <script src="~/frontend/js/contact_me.js"></script>
    <script src="~/frontend/js/clean-blog.min.js"></script>
</body>
</html>