html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    max-width: 100%
}

pre {
    border: none;
    border-radius: 0px;
}

pre code{
    font-size:15px;
}

li{
    font-size:17px;
}

p.author,
p.createat {
    font-size: 12px
}