@model IEnumerable<Post>

@foreach (var post in Model)
{
    <div class="post-preview">
        <a asp-area="Viewer" asp-action="Details" asp-route-id="@post.PostId">
            <h2 class="post-title">
                @post.Title
            </h2>
        </a>
        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
    </div>
    <hr />
}

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.markdown-content').forEach(function (element) {
                var simplemde = new SimpleMDE({ element: element, toolbar: false, status: false, spellChecker: false });
                element.parentNode.innerHTML = simplemde.markdown(element.value);
            });
        });
    </script>
}
