@model List<Post>

<div class="container">
    <div class="row pt-4 pd-3">
        <div class="col-6">
            <h2 class="text-primary">Post List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Post" asp-action="Upsert" class="btn btn-primary">
                <i class="bg-info bi-plus-circle"></i> Create Post
            </a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>文章標題</th>
                <th>發表時間</th>
                <th>類別</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/post.js"></script>
}